header{
    float: left;
    background-color: aqua;

}

.page-buttons{
    background-color: blue;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: black;
    text-decoration-color: white;
    float: right;
}